# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/

# IDEs
.vscode/
.idea/

# Local config
*.log
*.sqlite3
